.div1{
    background-color: lightgray;
    width: 600px;
    height: 150px;
    margin-left: 450px;
    margin-top: 40px;
    margin-bottom: 45px;
    border-radius: 20px;
}

.lis{
    display: inline-block;
    list-style: none;
    margin-top: 30px;
}
#sdiv1{
    background-color: red;
    width: 100px;
    height: 70px;
    margin: 15px;
    border-radius: 20px;

}

#sdiv2{
    background-color: blue;
    width: 100px;
    height: 70px;
    margin: 15px;
    border-radius: 20px;
}
#sdiv3{
    background-color: greenyellow;
    width: 100px;
    height: 70px;
    margin: 15px;
    border-radius: 20px;
}
#sdiv4{
    background-color: black;
    width: 100px;
    height: 70px;
    margin: 15px;
    border-radius: 20px;
}

.div2{
    background-color: red;
    width: 600px;
    height: 400px;
    margin-left: 450px;
    margin-top: 40px;
    border-radius: 20px;
}